* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: grid;
  margin-inline: 0;
  margin-block: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-block-end: 0;
}

h2 {
  margin-block-end: 1.75rem;
}

h1,
h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #3d3d3d;
}

input,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: sticky;
  inset-inline-start: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 0;
  justify-content: center;
}

nav ul li {
  margin-inline: .25rem;
  margin-block: 0;
  line-height: 1.5rem;
  list-style: none;
}

main {
  FONT-VARIANT: JIS04;
  font-weight: 200;
  padding-block: 0;
  margin-block: 0;
  display: grid;
  grid-template-columns: 200px 2fr 200px;
  row-gap: 10px;
}

main > * {
  grid-column: 2;
}

.full-bleed {
  /* grid-column: 1 / span 3; */
  padding-inline: 2rem;
}

.flex-header,
.motto,
.contact-me,
#about-me footer {
  flex-basis: 100%;
}

.introduction {
  text-align: center;
  align-self: center;
}

#about-me footer a,
#about-me footer a:visited,
#about-me footer a:hover {
  color: rebeccapurple;
}

#about-me {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#about-me h2 {
  color: white;
}

#about-me aside {
  order: 10;
  text-align: center;
}

#about-me footer {
  text-align: center;
}

#portfolio {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  grid-template-areas: "portfolio anchor img1 img2 img3"
    "portfolio anchor img4 img5 img6";
  grid-gap: 10px;
  align-items: end;
  background-color: rgb(246, 152, 2, 0.9);
  padding-block: 1rem;
}

#portfolio h2 {
  grid-area: portfolio;
  align-self: start;
  margin-block: 0;
}

#portfolio img:hover {
  opacity: 0.7;
  transition: opacity 1s;
}

img.anchor {
  grid-area: anchor;
  align-self: start;
}

#portfolio img {
  max-inline-size: 100%;
}

#testimonials {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#testimonials blockquote {
  border-inline: solid 1px black;
  border-block: solid 1px black;
  padding-inline: 0.5rem;
  padding-block: 0;
  margin-inline: 0;
  margin-block: 0.5rem;
}

#testimonials blockquote.featured {
  order: -1;
  flex: 1 0 auto;
  background-color: rebeccapurple;
  color: white;
  margin-inline-start: 1rem;
  font-weight: bold;
}

#testimonials h2 {
  order: -2;
}

.resume-fieldset {
  border-inline: none;
  border-block: none;
  margin-inline: 0;
  margin-block: 0;
  padding-inline: 0;
  padding-block: 0;
}

.resume-fieldset legend {
  padding-inline: 0;
  padding-block: 0;
  font-size: 0.875rem;
}

.label-standard {
  display: block;
  margin-block: 0.125rem;
  font-size: 0.875rem;
}

.field {
  margin-block-end: 1.25rem;
}

.my-picture {
  max-inline-size: 125px;
  /*margin-inline-end: 2.5rem;*/
}

#mailing-address {
  background-image: url(images/unsplash-background.jpg);
  background-size: cover;
  color: white;
  padding-block-end: 1em;
}

#mailing-address > h2 {
  color: white;
}

.button:hover {
  background-color: rgba(157, 228, 5, 0.9);
  transition: background-color 2s;
}

.button-reset:hover {
  background-color: rgba(255, 42, 0, 0.9);
  transition: background-color 2s;
}

.button {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-inline: none;
  border-block: none;
}

:root {
  accent-color: rebeccapurple;
}

.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.website-icon {
  max-block-size: 16px;
  margin-inline-end: .25em;
}

.phone-icon {
  max-block-size: 16px;
  margin-inline-end: .9em;
  margin-inline-start: .6em;
}

.twitter-icon {
  max-block-size: 16px;
  margin-inline-end: .7em;
  margin-inline-start: .3em;
}

.youtube-icon {
  max-block-size: 16px;
  margin-inline-end: .4em;
  margin-inline-start: .06em;
}

.animate__fadeInUp p {
  margin-block-end: 2em;
}

dd {
  margin-block-end: 10px;
}

/* declares if media type= screen or print i.e. use these rules */
@media screen and (max-width: 767.98px) {
  main {
    grid-template-columns: 25px 1fr 25px;
  }

  #about-me {
    justify-content: center;
    text-align: center;
  }

  .my-picture {
    margin-inline-end: 0;
  }

  #portfolio {
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "portfolio portfolio"
      "anchor img1";
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1fr 900px 1fr;
  }

  .full-bleed {
    padding-inline: 15%;
  }

}